.stat-card {
    border-radius: 16px;
    padding: 15px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 118px;
    position: relative;
    box-sizing: border-box;
}

.stat-card.danger {
    background-color: #FFF5F2;
    /* Light red/orange */
}

.stat-card.success {
    background-color: #E6F4F1;
    /* Light teal */
}

.stat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.stat-card-title {
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #101828;
    line-height: 1.35;
    max-width: 82%;
}

.stat-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-card-icon svg {
    width: 20px;
    height: 20px;
}

.stat-card.danger .stat-card-icon svg {
    color: #F04438;
}

.stat-card.success .stat-card-icon svg {
    color: #0D8977;
}

.stat-card-content {
    display: flex;
    align-items: baseline;
    gap: 4px;
    margin-top: 18px;

    span {
        font-size: 23px;

    }
}

.stat-card-number {
    font-weight: 500 !important;
    line-height: 1.25 !important;
}

.stat-card.danger .stat-card-number {
    color: #F04438;
}

.stat-card.success .stat-card-number {
    color: #0D8977;
}

.stat-card-unit {
    font-weight: 400 !important;
    color: #667085;
}